.MovieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 5vw;
}

.no-movies-splash {
    color: gray;
    margin: auto;
}

.splash-text {
    font-size: 2vw;
}

.splash-icon {
    font-size: 30vw;
}